/* IMPORTANDO FUENTE*/
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

/* ESTILO PARA AGREGAR COLOR DE FONDO AL MENÚ EN LA VERSIÓN MOVIL*/
@media only screen and (max-width: 480px) {
    #navbarNav {
        background-color: #0000009a;
    }
}
  
*{
    margin:0;
    padding: 0;
    border: 0;
    font-family: 'Varela Round', sans-serif;
    font-weight: 300;
}

html{
    scroll-behavior: smooth;    
}

body{
    background-color: black !important;
    color: white !important;  
}

.navbar {
    position: absolute !important;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

.carousel-container {
    position: relative;
}

.color{
    background-color: #0dcaf0;
}  

.titulo-section{
  font-size: 23px !important;
  font-family: 'Varela Round', sans-serif;
  font-weight: 500;
}

.hr1{
    width: 96%;
}

.hr2{
    width: 100%;
}

.card p{
    color: #fff !important;
}

.custom-tooltip {
  --bs-tooltip-bg: #0dcaf0 !important;
}

footer p{
    font-size: 30px !important;
}

footer a{
    text-decoration: none !important;
}

footer {
    height: 80px;
}

footer .row {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}